-# frozen_string_literal: true
= simple_form_for (@user) do |f|

  .form-inputs
    -# = f.input :avatar, label: 'Add Avatar Here'
    
    = f.input :name, placeholder:"Enter your name here", id: 'name', :label_html => { :class => "text-white" }
    = f.input :mobile, placeholder:"Enter your job here", label: '手机号码',:label_html => { :class => "text-white" }
    = f.input :wechat, placeholder:"Enter your Wechat here", label: '微信号',:label_html => { :class => "text-white" }
    = f.input :apartment, placeholder:"Enter your apartment number here", label: '门牌号',:label_html => { :class => "text-white" }


  %br/
  .form-actions
    = f.submit :提交修改, class: 'btn btn-primary primary-button'