-# frozen_string_literal: true
= simple_form_for(@temperate) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    %p.text-white 上传照片：
    = f.file_field :temp_transferent
  %br/
  .form-actions
    = link_to '返回','/payments/cancel_payment', class:'btn btn-primary'
    = f.submit "上传", class:'btn btn-primary'
