.card.h-100
    %h1 订单详情
    .card.body.p-2
        %h3 商品：

        - @order_products.each do |order_product|
            .card
                .row.align-items-center
                    .col-3
                        = image_tag Product.find(order_product.product_id).images[0], class:'img-fluid'
                    .col-2
                    .col-3
                        %h6= Product.find(order_product.product_id).name + ' X' + order_product.quantity.to_s
                    .col-2
                    .col-2
                        %h6.fw-bold= number_to_currency_gbp(Product.find(order_product.product_id).price * order_product.quantity)
        %br/

        .d-flex.justify-content-end
            %h4.fst-italic 总价(£): #{@order.total_price.round(2)}
        .d-flex.justify-content-end
            %p.text-muted.fst-italic (¥): #{@rmb}

        %h3 支付截图：
        .row
            -if @order.transferent.attached?
                .col-5
                    =image_tag @order.transferent, class:'img-fluid'
            -else 
                %p 用户没有上传


        %br/
        %h3 联系信息：
        %table.table
            %tr 
                %td 姓名:
                %td= @user.name

            %tr 
                %td 手机号:
                %td= @user.mobile

            %tr 
                %td 微信号:
                %td= @user.wechat 

            %tr 
                %td 门牌号:
                %td= @user.apartment
        %p.text-muted *如需修改联系信息请到个人主页
    .card.footer
        .d-flex.justify-content-center
            %p 感谢您对OscarBar的支持!