.card.h-100
    %h1 订单详情
    .card.body
        %h2 商品：
        -if @cart = current_user.cart 
            - @cart.cart_products.each do |cart_product|
                .card
                    .row
                        .col-2
                            = image_tag cart_product.product.images[0], class:'img-fluid'
                        .col-2
                        .col-4
                            %h6.my-0= cart_product.product.name 

                            %span.text-muted= number_to_currency(cart_product.product.price * cart_product.quantity)
                        .col-4
                            = link_to "-", reduce_one_page_path(cart_product),class:'btn btn-secondary'
                            %h6.my-0.d-inline= "X #{cart_product.quantity}"
                            = link_to "+", add_one_page_path(cart_product),class:'btn btn-primary'
                            
        -else
            - @cart = @current_user.create_cart
            - @cart.update_attribute(:total_price, 0)
        %br/
        %br/
        %br/
        %br/
        .d-flex.justify-content-end
            %h4 总价(£): #{@cart.total_price} 
        %h2 联系信息：
        %table.table
            %tr 
                %td 姓名:
                %td= current_user.name

            %tr 
                %td 手机号:
                %td= current_user.mobile

            %tr 
                %td 微信号:
                %td= current_user.wechat 

            %tr 
                %td 门牌号:
                %td= current_user.apartment
        %p.text-muted *如需修改联系信息请到个人主页
    .card.footer
        .d-flex.justify-content-center
            %p 感谢您对OscarBar的支持!

%br/
= link_to '一键下单', '/', class:'btn btn-primary'