
.card.h-100.mt-5
    .d-flex.justify-content-center
        %h1.pt-2 订单详情
    .card.body.p-2
        %h3 商品：
        -if @cart = current_user.cart 
            - @cart.cart_products.each do |cart_product|
                .card
                    .row.align-items-center
                        .col-2
                            = image_tag cart_product.product.images[0], class:'img-fluid'
                        .col-2
                        .col-4
                            %h6.my-0= cart_product.product.name 

                            %span.text-muted= number_to_currency_gbp(cart_product.product.price * cart_product.quantity)
                        .col-4
                            = link_to "-", reduce_one_page_path(cart_product),class:'btn btn-secondary'
                            %h6.my-0.d-inline= "X #{cart_product.quantity}"
                            = link_to "+", add_one_page_path(cart_product),class:'btn btn-primary'
                            
        -else
            - @cart = @current_user.create_cart
            - @cart.update_attribute(:total_price, 0)
        %br/

        .d-flex.justify-content-end
            %h4.fst-italic 总价(£): #{@cart.total_price.round(2)}
        .d-flex.justify-content-end
            %p.text-muted.fst-italic (¥): #{@rmb}

        .card
            %h3 支付截图：
            -if session[:newOrder] == "Created"
                -if @order.transferent.attached?
                    .col-5
                        =image_tag @order.transferent, class:'img-fluid'
            -else
                %p.fst-italic.fw-bold 没有上传截图
            %p.text-muted *请上传支付截图后提交订单

        %br/
        %h3 联系信息：
        %table.table
            %tr 
                %td 姓名:
                %td= current_user.name
            
            %tr 
                %td 邮箱号:
                %td= current_user.email

            %tr 
                %td 手机号:
                %td= current_user.mobile

            %tr 
                %td 微信号:
                %td= current_user.wechat 

            %tr 
                %td 门牌号:
                %td= current_user.apartment
        %p.text-muted *如需修改联系信息请到个人主页
    .card.footer
        .d-flex.justify-content-center
            %p.pt-2 感谢您对OscarBar的支持!

%br/
.d-flex.justify-content-end 
    = link_to '一键支付', '/payments/choose_payment', class:'btn btn-primary'
    -if session[:newOrder] == "Created"
        -if @order.transferent.attached?
            = link_to '提交订单', '/pages/orderConfirm', class:'btn btn-outline-success'
    -else   
        = link_to '提交订单', '/pages/orderConfirm', class:'btn btn-outline-success disabled'


       