

%br/
.row 
  .col-10
    %h1 欢迎光临OscarBar!
    =link_to "登陆", "/users/sign_in",class:'btn btn-primary'
    = link_to "注册", "/users/sign_up",class:'btn btn-primary'
%br/
%br/

%h3 鸡尾酒 Cocktail:
.row
  - @cocktail.each do |cocktail|
    .col-6.col-md-3.mb-2
      .card.h-100
        .card-img-top
          = image_tag cocktail.images[0], class:'img-fluid'
        .card-body
          %p #{cocktail.name}
          -# %p 描述:  #{cocktail.description}
          %p 价格(£):  #{cocktail.price}

%br/
%br/

%h3 威士忌 Whisky:
.row
  - @whisky.each do |whisky|
    .col-6.col-md-3.mb-2
      .card.h-100
        .card-img-top
          = image_tag whisky.images[0], class:'img-fluid'
        .card-body
          %p 名称:  #{whisky.name}
          %p 描述:  #{whisky.description}
          %p 价格:  #{whisky.price}

%br


