
.row.align-items-center.mt-5
  .col-6
    = image_tag 'open.png', class:'img-fluid'
  .col-6
    %h1.fw-bold.blue-shadow 欢迎光临OscarBar!
%br/
%br/

.d-flex.justify-content-center
  %h1.fw-bold.yellow.pink-shadow 菜单

%h4.fw-bold.pink-shadow 鸡尾酒 Cocktail:
.row
  - @cocktail.each do |cocktail|
    .col-6.col-md-3.mb-2
      .card.h-100.shadow-border
        .card-img-top.p-2
          = image_tag cocktail.images[0], class:'img-fluid'
        .card-body
          %p.fw-bold #{cocktail.name}
          %p 描述:  #{cocktail.description}
          %p 价格(£):  #{cocktail.price}

%br/
%br/

%h4.fw-bold.pink-shadow.bule-shadow 威士忌 Whisky:
.row
  - @whisky.each do |whisky|
    .col-6.col-md-3.mb-2
      .card.h-100.shadow-border
        .card-img-top.p-2
          = image_tag whisky.images[0], class:'img-fluid'
        .card-body
          %p.fw-bold #{whisky.name}
          %p 描述:  #{whisky.description}
          %p 价格(£):  #{whisky.price}

%br


