-if @cart = current_user.cart
-else
  - @cart = current_user.create_cart
  - @cart.update_attribute(:total_price, 0)

%br/
.row 
  .col-10
    %h1 欢迎光临OscarBar!
  .col-2
    -# =link_to  '/' do
    -#   .fa-solid.fa-cart-shopping.fa-2xl 
    -#   .badge.bg-primary.rounded-pill=0

    =link_to "/pages/check_out" ,class:"btn btn-primary position-relative"do
      .bi.bi-cart4.display-7
      %span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger
        =@total_quantity
        %span.visually-hidden unread messages
%br/

%h1 Cocktail:
.row
  - @cocktail.each do |cocktail|
    .col-6.col-md-3.mb-2
      .card.h-100
        .card-img-top 
          = image_tag cocktail.images[0], class:'img-fluid'
          -# %span.position-absolute.top-0.start-100.translate-middle.p-3.bg.warning.rounded-circle
          -#   %span.bi.bi-hand-thumbs-up-fill.display-6
        .card-body
          %p.fw-bold #{cocktail.name}
          -# %p description:  #{cocktail.description}
          %p 价格(£):  #{cocktail.price}
          = link_to '加入购物车', add_cart_buyer_path(cocktail)


%br/
%br/

%h1 Whisky:
.row
  - @whisky.each do |whisky|
    .col-6.col-md-3.mb-2
      .card.h-100
        .card-img-top
          = image_tag whisky.images[0], class:'img-fluid'
        .card-body
          %p.fw-bold#{whisky.name}
          -# %p description:  #{whisky.description}
          %p 价格(£):  #{whisky.price}
          = link_to '加入购物车', '/'

%br


