%br/
.row 
  .col-10
    %h1 欢迎光临OscarBar!
  .col-2
    -# =link_to  '/' do
    -#   .fa-solid.fa-cart-shopping.fa-2xl 
    -#   .badge.bg-primary.rounded-pill=0
    %button.btn.btn-primary.position-relative
      .bi.bi-cart4.display-6
      %span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger
        0
        %span.visually-hidden unread messages
%br/

%h1 Cocktail:
.row
  - @cocktail.each do |cocktail|
    .col-4
      .card.h-100
        .card-img-top
          = image_tag cocktail.images[0], class:'img-fluid'
        .card-body
          %p name:  #{cocktail.name}
          %p description:  #{cocktail.description}
          %p price:  #{cocktail.price}
          = link_to '加入购物车', '/'

%br/
%br/

%h1 Whisky:
.row
  - @whisky.each do |whisky|
    .col-4
      .card.h-100
        .card-img-top
          = image_tag whisky.images[0], class:'img-fluid'
        .card-body
          %p name:  #{whisky.name}
          %p description:  #{whisky.description}
          %p price:  #{whisky.price}
          = link_to '加入购物车', '/'

%br


