= simple_form_for(@product) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    %p 上传照片：
    = f.file_field :images, multiple: true
    = f.input :name, label: '名称'
    = f.input :description, label: '描述'
    = f.input :price, label: '价格'
    = f.association :category, label: '类别'
  %br/
  .form-actions
    = f.button :submit, class:'btn btn-primary'
