
= link_to '添加新产品', new_product_path,class:'btn btn-primary'
= link_to '添加新类别', new_category_path,class:'btn btn-primary'

%br/
%br/
%h1 Cocktail:
.row
  - @cocktail.each do |cocktail|
    .col-6.col-md-3.mb-2
      .card.h-100
        .card-img-top.p-2
          = image_tag cocktail.images[0], class:'img-fluid'
        .card-body
          %p.fw-bold #{cocktail.name}
          -# %p description:  #{cocktail.description}
          %p 价格(£):  #{cocktail.price}
          -# = link_to '查看', cocktail
          = link_to '编辑', edit_product_path(cocktail)
          = link_to '删除', cocktail, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br/
%br/

%h1 Whisky:
.row
  - @whisky.each do |whisky|
    .col-6.col-md-3.mb-2
      .card.h-100
        .card-img-top.p-2
          = image_tag whisky.images[0], class:'img-fluid'
        .card-body
          %p.fw-bold #{whisky.name}
          -# %p description:  #{whisky.description}
          %p 价格(£):  #{whisky.price}
          -# = link_to 'Show', whisky
          = link_to '编辑', edit_product_path(whisky)
          = link_to '删除', whisky, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br


