!!!
%html{style: "background-color: black"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Terenzzzz
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/adbaa1e782.js" crossorigin="anonymous"></script>
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"

  
  %header{style: "background-color: black"}
    .container-fluid{style: "background-color: black"}
      %nav.navbar.navbar-expand-sm


        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
          %span.bi.bi-list.text-white
        #navbarSupportedContent.collapse.navbar-collapse
          %ul.navbar-nav.mr-auto
          %li.navbar-nav.nav-item.dropdown.nav-link
            %a#navbarDropdown.nav-link.dropdown-toggle.text-white.fs-2{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              University
            .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %a.dropdown-item{:href => "/year_one"} Year 1
              %a.dropdown-item{:href => "/year_two"} Year 2
              %a.dropdown-item{:href => "/year_three"} Year 3
              .dropdown-divider
              %a.dropdown-item{:href => "/else"} Something else
          %li.navbar-nav.nav-link
            %a.text-white.fs-2(href="/pages/about")  About
          %li.navbar-nav.nav-link
            %a.text-white.fs-2(href="/pages/pets")  Pets
          %li.navbar-nav.nav-link
            %a.text-white.fs-2(href="/music")  Music
          %li.navbar-nav.nav-link
            %a.text-white.fs-2(href="/pages/update")  Update


  %main{style: "background-color: black"}
    .container= yield
    
  %footer.pt-4.text-center.text-small.text-white{style: "background-color: black"}


    %p &copy; Terenzzzz #{Date.today.year}